<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/dashboard'}) %></header>

    <% if(user.verified == true) { %>
    <main>
      <!-- Dashboard Panel -->
      <%- include('partials/dashboardPanel', {page: '/dashboard'}) %>
      <hr />
      <!-- Info div -->
      <div class="green-frame">
        <div class="black-frame">
          <p>Total income</p>
          <p><%= user.dashboard.total_income %></p>
        </div>
        <div class="black-frame">
          <p>Total expenses</p>
          <p><%= user.dashboard.total_expenses %></p>
        </div>
        <div class="black-frame">
          <p>Total listed spaces</p>
          <p><%= user.dashboard.total_listed_spaces %></p>
        </div>
        <div class="black-frame">
          <p>Total guests</p>
          <p><%= user.dashboard.total_guests %></p>
        </div>
      </div>
      <hr />

      <!-- We need to ask member to verify their account for all functions. -->
      <% if(prop) { %>
      <div class="blue-frame">
        <h2>My listings</h2>
        <div>
          <span>Change View / Sort by / Most recent</span>
          <a href="/postProperty"><button>List space for free</button></a>
        </div>
        <table>
          <tr>
            <th>ID</th>
            <th>Property title</th>
            <th>Date</th>
            <th>Spaces</th>
            <th>Price per space</th>
            <th>Status</th>
          </tr>
          <% prop.forEach((p)=>{ %>
          <tr>
            <td><%= p.shortened_id %></td>
            <td><%= p.propertyName %></td>
            <td><%= p.transformed_listDate %></td>
            <td><%= p.listing_price.no_of_rooms %></td>
            <td><%= p.listing_price.price_space %></td>
            <td>
              <% if(p.status==true) { %>Active<% } else { %>Inactive<% } %>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
      <div class="blue-frame">
        <h2>Recent activities (demo)</h2>
        <div>Sort by / Most recent</div>
        <table>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Time</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          <!-- Back-end database is not ready yet-->
          <tr>
            <td>IXCBA01BA1</td>
            <td>Income on Spacious near stop...</td>
            <td>Mar 2, 2024 10:41 AM</td>
            <td>Rent</td>
            <td>$650</td>
            <td>
              <a href="#"><button>View receipt</button></a>
            </td>
          </tr>
          <tr>
            <td>000133BAFC</td>
            <td>Income on Spacious near stop...</td>
            <td>Feb 14, 2024 06:13 PM</td>
            <td>Rent</td>
            <td>$650</td>
            <td>
              <a href="#"><button>View receipt</button></a>
            </td>
          </tr>
        </table>
      </div>
      <% } else { %>
        <p>Property activities and summary will show up here</p>
        <a href="/postProperty"><button>List space for free</button></a>
        <% } %>
    </main>
    <% } else { %>
    <main>
      <%- include('partials/dashboardPanel', {page: '/dashboard'}) %>
      <p>The membership has not been verified.</p>
      <% if(session.user.userType == 'business') { %>
      <a href="/verificationBusAcc"
        ><button>Verify your identity now</button></a
      >
      <% } else { %>
      <a href="/verification"><button>Verify your identity now</button></a>
      <% } %>
    </main>
    <% } %>
    <%- include('partials/footer', {page: '/dashboard'}) %>
  </body>
</html>
