<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/dashboard'}) %></header>
    <main>
      <div class="red-frame">
        <!-- We need to ask member to verify their account for all functions. -->
        <div>Info div, will be <b>CHANGED</b> later</div>
        <p>User name: <%= user.userName %></p>
        <p>User Type: <%= user.userType %></p>
        <% if(session.user.verified == true) { %>
        <p>The membership has been verified.</p>
        <p>Member details as follow:</p>
        <p>Verified status: Success %></p>
        <% } else { %>
        <p>The membership has not been verified.</p>
        <% if(session.user.userType == 'business') { %>
        <a href="/verificationBusAcc"
          ><button>Verify your identity now</button></a
        >
        <% } else { %>
        <a href="/verification"><button>Verify your identity now</button></a>
        <% } %> <% } %>
      </div>
      <hr>
      <!-- Dashboard Panel -->
      <%- include('partials/dashboardPanel', {page: '/dashboard'}) %>
    </main>
  </body>
  <%- include('partials/footer', {page: '/dashboard'}) %>
</html>
