<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <%- include('partials/navbar', {page: '/listingDetails'}) %>
    </header>
    <main>
      <div>
        <h2><%= prop.propertyName %></h2>
        <!--If user is the host, they will see these two buttons-->
        <% if(userID == prop.user) { %>
        <div>
          <a href="#"><button>Delist this property</button></a>
          <a href="#"><button>Modify this listing</button></a>
        </div>
        <% } else { %>
        <div>
          <!-- <a href="#"><button>Rent space</button></a> -->
          <a onclick="confirmRent('<%= prop._id %>')"
            ><button class="">Rent</button></a
          >
        </div>
        <% } %>
      </div>
      <div class="blue-frame">
        <div>
          <img src="<%= prop.img_url %>" alt="property-img" />
        </div>
        <div>
          <div class="green-frame">
            <div>
              <p>
                <%= prop.address.addressline1 %>, <%= prop.address.addressline2
                %>, <%= prop.address.city %>
              </p>
              <span
                ><% if(prop.status==true) { %>Space avaliable<% }else{ %>Sapce
                unavaliable<% } %></span
              >
            </div>
            <p>
              <%= prop.listing_price.no_of_rooms %> guest <%=
              prop.listing_price.no_of_rooms %> bed <%=
              prop.amenities.no_bathrooms %> baths <%= prop.amenities.no_parking
              %> parking
            </p>
          </div>
          <hr />
          <div class="green-frame">
            <img src="<% user.user_img %>" alt="host-icon" />
            <table>
              <tr>
                <th><%= user.userName %></th>
                <th>CAD</th>
                <th>Total spaces</th>
                <th>Avaliable spaces</th>
              </tr>
              <tr>
                <th><%= user.rating %></th>
                <th><%= prop.listing_price.price_space %></th>
                <th><%= prop.listing_price.no_of_rooms %></th>
                <th><%= prop.current_room_avaliable %></th>
              </tr>
            </table>
            <div class="yellow-frame">
              <div>
                <h3>AMENITIES</h3>
                <p>bathrooms: <%= prop.amenities.no_bathrooms %></p>
                <p>parking: <%= prop.amenities.no_parking %></p>
                <p>
                  pets allowed: <% if(prop.amenities.pet_allowed) { %> Yes <% }
                  else { %> No <% } %>
                </p>
              </div>
              <div>
                <h3>RENTAL POLICY</h3>
                <p>
                  <strong>1. Payment Policy</strong><br> 
                  Rent Due Date: Rent is due on the 1st of
                  each month without exception. A grace period of 5 days is
                  allowed, after which a late fee of $50 will be applied, plus
                  an additional $5 per day until the rent is paid in full.<br>
                  Payment Methods: Acceptable payment methods include online
                  bank transfer, check, or through our designated payment
                  portal. Cash payments are not accepted. <br><br>
                  <strong>2. Occupancy Limits</strong><br>
                  Maximum Occupancy: The premises shall not be occupied by more
                  than two persons per bedroom plus one additional person per
                  rental unit. Guest Stays: Guests may stay for a maximum of 14
                  consecutive days in any 6-month period. Longer stays require
                  written approval from the landlord. <br><br>
                  <strong>3. Maintenance and Repairs</strong><br>
                  Tenant Responsibilities: Tenants are responsible for keeping
                  the premises clean and sanitary. Minor repairs, such as
                  replacing light bulbs and unclogging drains, are the tenant's
                  responsibility. <br>
                  Landlord Responsibilities: The landlord will
                  handle major repairs and maintenance issues, such as heating,
                  plumbing, and electrical problems. Tenants must report such
                  issues within 48 hours of occurrence. <br><br>
                  <strong>4. Pets Policy Allowed</strong><br>
                  Pets: Small dogs and cats are permitted within the property. A
                  maximum of 2 pets per unit is allowed. <br>
                  Pet Deposit: A
                  refundable pet deposit of $300 per pet is required, along with
                  a monthly pet fee of $30. <br>
                  Restrictions: Aggressive breeds are
                  prohibited. Pets must be registered with the landlord,
                  including proof of vaccinations. <br><br>
                  <strong>5. Alterations to the
                  Premises</strong><br> Restrictions: Tenants shall not make any alterations,
                  additions, or improvements to the premises without prior
                  written consent from the landlord. Decorations: Non-permanent
                  decorations are allowed but must not damage the walls or
                  require extensive repairs upon removal. <br><br>
                  <strong>6. Noise and Conduct</strong>
                  Quiet Hours: Quiet hours are from 10 PM to 7 AM on weekdays
                  and 12 AM to 8 AM on weekends. Tenants are expected to respect
                  these hours to maintain a peaceful living environment.
                  Prohibited Activities: Illegal activities, including but not
                  limited to drug use and distribution, are strictly prohibited
                  on the premises.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div id="confirmationMessage" class="message-bkg">
      <div class="message-content">
        <p>Confirm renting this property?</p>
        <div>
          <p>Property: <%= prop.propertyName %></p>
          <p>
            Address: <%= prop.address.addressline1 %>, <%=
            prop.address.addressline2 %>, <%= prop.address.city %>
          </p>
          <p>Price: <%= prop.price_space %></p>
        </div>
        <button id="confirmRent">Rent</button>
        <button id="cancelRent">Cancel</button>
      </div>
    </div>
    <%- include('partials/footer', {page: '/listingDetails'}) %>
  </body>
  <script>
    function confirmRent(propID) {
      document.getElementById("confirmationMessage").style.display = "flex";
      document.getElementById("confirmRent").onclick = function () {
        fetch(`/rentSpace/${propID}`, { method: "GET" })
          .then((response) => {
            window.location.href = "/myrentals";
          })
          .catch((error) => console.error("Error:", error));
        document.getElementById("confirmationMessage").style.display = "none";
      };

      document.getElementById("cancelRent").onclick = function () {
        document.getElementById("confirmationMessage").style.display = "none";
      };
    }
  </script>
</html>
