<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/myrentals'}) %></header>
    <main>
      <%- include('partials/dashboardPanel', {page: '/myrentals'}) %>
      <div>
        <h2>My rentals</h2>
        <span>Change View</span>
      </div>

      <div>
        <table>
          <tr>
            <th>ID</th>
            <th>Property title</th>
            <th>Rent date</th>
            <th>Space rented</th>
            <th>Allocated</th>
            <th>Price per space</th>
            <th></th>
          </tr>
          <% rs.forEach((r)=> { %>
          <tr>
            <td><%= r. propertyName%></td>
            <td><%= r.rent_date %></td>
            <td><%= r.rent_due %></td>
            <td><%= r.space_rented %></td>
            <td><%= r.allocated %></td>
            <td><%= r.price_space %></td>
            <td>:</td>
          </tr>
          <% }) %>
        </table>
      </div>
    </main>
    <%- include('partials/footer', {page: '/myrentals'}) %>
  </body>
</html>
