<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/myrentals'}) %></header>
    <main>
      <%- include('partials/dashboardPanel', {page: '/myrentals'}) %>
      <div>
        <h2>My rentals</h2>
        <span>Change View</span>
      </div>

      <div>
        <table>
          <tr>
            <th>ID</th>
            <th>Property title</th>
            <th>Rent date</th>
            <th>Space rented</th>
            <th>Allocated</th>
            <th>Price per space</th>
            <th></th>
          </tr>
          <% rs.forEach((r)=> { %>
          <tr>
            <td><%= r. propertyName%></td>
            <td><%= r.rent_date %></td>
            <td><%= r.rent_due %></td>
            <td><%= r.space_rented %></td>
            <td><%= r.allocated %></td>
            <td><%= r.price_space %></td>
            <td><a onclick="allocateSpace('<%= r._id %>')"
              ><button class="">Allocate</button></a
            ></td>
          </tr>
          <% }) %>
        </table>
      </div>
    </main>
    <div id="confirmationMessage" class="message-bkg">
      <div class="message-content">
        <p>Allocate space to employees</p>
        <div>
          <p>Property: <%= rs.propertyName %></p>
          <hr>
          <p>Which employee would you like to allocate space to?</p>
          <a href=""><button>Employee 1</button></a>
          <a href=""><button>Employee 2</button></a>
        </div>
        <hr>
        <button id="confirmAllocate">Confirm</button>
        <button id="cancelAllocate">Cancel</button>
      </div>
    </div>
    <%- include('partials/footer', {page: '/myrentals'}) %>
  </body>
  <script>
    function allocateSpace(rentSpaceID) {
      document.getElementById("confirmationMessage").style.display = "flex";
      document.getElementById("confirmAllocate").onclick = function () {
        fetch(`/allocateSpace/${rentSpaceID}`, { method: "GET" })
          .then((response) => {
            window.location.href = "/myrentals";
          })
          .catch((error) => console.error("Error:", error));
        document.getElementById("confirmationMessage").style.display = "none";
      };

      document.getElementById("cancelAllocate").onclick = function () {
        document.getElementById("confirmationMessage").style.display = "none";
      };
    }
  </script>
</html>
