<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HVME</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header><%- include('partials/navbar', {page: '/register'}) %></header>
    <main class="">
      <div class="">
        <div class="">
          <h1 class="">Register</h1>
          <p class="">Get a roof over your head</p>
        </div>
      </div>
      <form action="/register" method="POST" class="">
       <!--Email-->
       <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="name@example.com" value="<%=values.email%>" ><br>
        <% if(validationSignUpMessage.email){%>
            <span style="color:red"><%= validationSignUpMessage.email%></span><br/><br/>
         <% } %>
        </div>
        <!-- Password -->
        <div class="">
          <label class="">Password</label>
          <input
            required
            type="password"
            name="password"
            placeholder="password"
            class=""
          />
          <% if(validationSignUpMessage.password){%>
            <span style="color:red"><%= validationSignUpMessage.password%></span><br/><br/>
         <% } %>
        </div>
        <div class="">
          <label class="">Re-eneter Password</label>
          <input
            required
            type="password"
            name="password2"
            placeholder="re-enter password"
            class=""
          />
        </div>
        
        <div class="black-frame">
          <!-- GUEST -->
          <div>
            <input
              type="radio"
              id="guest"
              name="userType"
              value="guest"
              checked="checked"
            />
              <label for="guest">Guest</label><br />
            <span>Find accomodations, post your request</span>
          </div>
          <hr>
          <!-- HOST -->
          <div>
              <input type="radio" id="host" name="userType" value="host" />  
            <label for="host">Host</label><br />
            <span>Rent out houses, find tenent</span>
          </div>
          <hr>
          <!-- BUSINESS -->
          <div>
             
            <input
              type="radio"
              id="business"
              name="userType"
              value="business"
            />
              <label for="business">Business</label><br />
            <span>Find accomodations for employees</span>
          </div>
        </div>

        <div class="">
          <button type="submit" class="">Confirm</button>
        </div>
      </form>
      <!-- ERROR MESSAGE -->
      <div class="message">
        <% if(errorMessage) { %>
        <p><%= errorMessage %></p>
        <% } %> <% if (successMessage) { %>
        <p><%= successMessage %></p>

        <script>
          setTimeout(function () {
            window.location.href = "/emailSent"; // Redirect to the emailSent page.
          }, 2000);
        </script>

        <% } %>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {page: '/register'}) %>
</html>
